* {
    font-family: sans-serif;
}
.body {
    height: 100vh;
    overflow: wrap;
    margin-left: 100px;
    margin-right: 100px;
    color: #378674
}

.head {
    font-size: 2em;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}
h1 {
    font-size: 150px;
    color: #378674
}
h3 {
    text-align: center;
    color: #378674
}

.butt {
    text-align: center;
}
.butt Button {
    margin: 5px
}
.contribution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  width: 800px;
  margin: auto;
  text-transform: capitalize;
}
.contribution h3 {
    color: white
}

.zzz {
    text-indent: 50px;
    padding: 5px
}

