.MuiToolbar-root-47.MuiToolbar-regular-49.header-inner-container {
    display: flex;
    justify-content: space-between;
}

    .button{
        padding-bottom: 12px important! ;
    }
    .profile-button {
        margin-right: 23px;
        font-size: 12px;
        padding-left: 1px;
        margin-top: 2px;
        text-align: right;
    
    }