.openMode  {
    z-index:0 !important;
    width: 300px;
}
.buttonBox {
    display:flex;
    justify-content: center;
    align-items: space-between;
}
.buttonBox Button {
    margin:4px;
    width:150px;
    
}
form {
    display:flex;
    flex-direction: column;
}