/* .modeButt{
    
    width: 33%;
    height:25%;
    top:20%;
    position: absolute;
    margin:auto;
    box-shadow: 10px 40px  10px -6px  rgb(255, 255, 255);
    padding:20px;
}
.modeContent {
    background-color: white;
    padding:10px;
    height:95%;
} */

.openMode  {
    z-index:0 !important;
}
.buttonBox {
    display:flex;
    justify-content: center;
    align-items: space-between;
}
.buttonBox Button {
    margin:4px;
}
form {
    display:flex;
    flex-direction: column;
}