.createStory div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #378674ff;
    padding: 10px;
}

.title-box{
    margin-top: 40px;
}

.title{
    height: 30px;
    width: 500px;
    background-color:#EAFBF7;
    color: black;
    font-size: 24px;
}



.description{
    width: 500px;
    height: 300px;
}