.idk { 
    display: flex;
    flex-direction: column-reverse;
}
.dashboard {
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-self: center !important;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    
    
}
.storydash {
    font-size: 50px ! important;
    font-weight: 200px;
    font-family: 'Slabo 27px', serif;
    color:  rgb(55, 134, 116);
    margin-top: 80px;
    text-align: center;
    text-decoration: none !important;
   
    

}
.storybox {
    background: rgb(55, 134, 116) ! important ;
    font-size: 2em;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    /* float: 1; */
    justify-content: center;
    width: 45%;  
    border-radius: 20%;  
}
.storyname {
    color: #EAFBF7 ! important;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}
.description {
    color:  #EAFBF7 ! important;
    font-size: .25em !important;
    margin-top: 10px;
    
    
}
.view{
    width: 70%;
    background-color:  #EAFBF7;
    margin-top: 80px;
    border: 0px;
    padding: 0 30px;
    border-radius: 2%;
    height: 50px;
    color: rgb(55, 134, 116);
    justify-content: center;
    margin-left: 15%;
    font-size: 20px;
    margin-bottom: 20px;
}