.dashboard {
    align-items: center;
    margin-top: 70px;
    display: flex;
    flex-flow: column;
}
h1 {
    font-size: 60px ! important;
    font-weight: 200px;
    font-family: 'Slabo 27px', serif;
    color:  rgb(55, 134, 116);
    margin-top: 50px;
    text-align: center;
    text-decoration: none !important;
    

}
.storybox {
    background: rgb(55, 134, 116) ! important ;
    font-size: 2em;
    height: auto;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    
}
.storyname {
    color: whitesmoke ! important;
    text-align: center;
}
.description {
    color: whitesmoke ! important;
    font-size: .25em !important;
    
}
.view{
    width: 70%;
    background-color: whitesmoke;
    margin-top: 100px;
    border-radius: 10%;
    height: 35px;
    color: rgb(55, 134, 116);
    
    
}